.title_text {
    font-style: italic;
    text-align: center;
    font-size: 1.2fr;
}
.field {
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 100px;
    width: 25%;
    height: 35px;
    border: 1px solid #000000;
}

form {
    
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 1000px;
    height: 900px;
}

body {
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}